* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background-color: rgba(32, 32, 39, 1);
}
.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}
.header {
  background-color: rgba(225, 255, 143, 1);

  &__content{
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-bottom: 156px;
  }
  &__text-container{
    padding-top: 196px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
    &__title {
    width: 769px;
    height: 156px;
    font-weight: 700;
    font-size: 64px;
    }
    &__subtitle {
    width: 720px;
    height: 64px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    & .description-text strong {
  font-weight: 700;
    }
    }
}
.header-img {
  &__pattern-1 {
    position: absolute;
    top: 0;
    right: 0;
  }
  &__pattern-2 {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
  }
  &__star-2 {
    position: absolute;
    top: 94px;
    left: 63px;
  }
  &__star-3 {
    position: absolute;
    top: 69px;
    left: 156px;
  }
    &__star-4 {
    position: absolute;
    top: 568px;
    right: 344px;
  }
  &__star-5 {
    position: absolute;
    top: 538px;
    right: 455px;
  }

}
.button {
width: 247px;
height: 66px;
border-radius: 60px;
border-width: 1px;
border-color: rgba(32, 32, 39, 1);
background-color: rgba(32, 32, 39, 1);
display: flex;
align-items: center;
justify-content: center;
font-family: sans-serif;
font-weight: 600;
font-size: 24px;
line-height: 142%;
color: rgba(255, 255, 255, 1);
text-decoration: none;
  &:hover {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(32, 32, 39, 1);
   font-family: sans-serif;
  }
}
.animation {
  width: 100%;
  position: relative;
  background-color: #BCEC30;
  padding-top: 20px;
  padding-bottom: 20px;
  &__track{
    display: flex;
    align-items: center;
    white-space: nowrap;
    position: relative;
    gap: 51px;
    animation: scroll 20s linear infinite;
  }
  &__text {
    width: 100%;
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
  }
}
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
.game-game {
  position: absolute;
}
.games {
    padding-top: 94px;
  padding-bottom: 50px;
}
.games-img {
  &__star-1 {
    position: absolute;
    top: 945px;
    right: 0px;
  }
  &__star-11 {
    position: absolute;
    top: 1570px;
    left: 28px;
  }
    &__star-12 {
    position: absolute;
    top: 1622px;
    left: 45px;
  }
}
.games-list {
  position: relative;
  padding-top: 72px;
  display: flex;
  gap: 32px;
}
.game-bloc-1 {
    display: flex;
    gap: 32px;
    flex-direction: column;
}
.game-bloc-2 {
    display: flex;
    gap: 32px;
    flex-direction: column;
}
.game-bloc-3 {
    display: flex;
    gap: 32px;
    flex-direction: column;
}
.games-intro {

  display: flex;
  flex-direction: column;
  gap: 24px;

  &__title {
    font-weight: 700;
    font-size: 64px;
    color: rgba(255, 255, 255, 1);
  }
  &__description {
    width: 788px;
    height: 96px;
    font-weight: 400;
    font-size: 24px;
    color: rgba(255, 255, 255, 1);
  }
}
.game-card {
width: 378px;
height: 551px;
border-radius: 30px;
background-color: white;
transition: transform 0.3s ease;
box-sizing: border-box;
  &__link {
    text-decoration: none;
  }
  &__image {
  width: 100%;
  height: auto;
  display: block;
  }
  &:hover {
    transform: scale(1.05);
  }
}
.game-card-big {
      height: 512px;
}
.game-card-small {
      height: 473px;
}
.game-card-text{
  display: flex;
  flex-direction: column-reverse;
  gap: 16px;
  padding: 32px;
      &__title {
    font-weight: 700;
    font-size: 32px;
    color: rgba(32, 32, 39, 1);
    }
    &__number {
    font-weight: 500;
    font-size: 16px;
    color: rgba(32, 32, 39, 1);
    box-sizing: border-box;
    width: fit-content;
    height: 36px;
    border-radius: 52.58px;
    padding: 8px 16px;
    background: #F7F7F7;
    }
}
.mini-games {
  padding-top: 46px;
    &__title {
      font-weight: 700;
      font-size: 64px;
      color: rgba(255, 255, 255, 1);
    }
    &__list {
      padding-top: 72px;
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
}
.mini-game {
width: 1200px;
height: 500px;
border-radius: 30px;
background-color: rgba(255, 255, 255, 1);
box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
display: flex;
flex-direction: row-reverse;
    &__content-game {
        display: flex;
        flex-direction: column;
        gap: 36px;
        padding-top: 48px;
        padding-left: 48px;
        padding-right: 48px;
    }
    &__content {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }
    &__image {
      object-fit: cover;
      border-radius: 30px;
      width: 600px;
      height: 500px;
    }
    &__title {
      font-weight: 700;
      font-size: 48px;
      color: rgba(32, 32, 39, 1);
    }
    &__description {
      height: 64px;
      font-weight: 400px;
      font-size: 24px;
      line-height: 32px;
    }
    &__button {
      font-family: sans-serif;
      width: 247px;
      height: 66px;
    }
}
.mini-game-even {
    display: flex;
    flex-direction: row;
}
.mini-games-img {
  &__star-6 {
    position: absolute;
    top: 2396px;
    right: 95px;
  }
   &__star-7 {
    position: absolute;
    top: 2363px;
    right: 123px;
  }
  &__star-8 {
    position: absolute;
    top: 5636px;
    right: 65px;
  }
  &__star-10 {
    position: absolute;
    top: 5684px;
    right: 150px;
  }
}
.footer {
  background-color: rgba(189, 237, 53, 1);
  margin-top: 144px;
}
.footer-game {
    display: flex;
    justify-content: center;
    padding-top: 61px;
    padding-bottom: 60px;
    &__text {
      font-weight: 600;
      font-size: 24px;
    }
}
@import "./mobile";