* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background-color: rgb(32, 32, 39);
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  background-color: rgb(225, 255, 143);
}
.header__content {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-bottom: 156px;
}
.header__text-container {
  padding-top: 196px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.header__title {
  width: 769px;
  height: 156px;
  font-weight: 700;
  font-size: 64px;
}
.header__subtitle {
  width: 720px;
  height: 64px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}
.header__subtitle .description-text strong {
  font-weight: 700;
}

.header-img__pattern-1 {
  position: absolute;
  top: 0;
  right: 0;
}
.header-img__pattern-2 {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
.header-img__star-2 {
  position: absolute;
  top: 94px;
  left: 63px;
}
.header-img__star-3 {
  position: absolute;
  top: 69px;
  left: 156px;
}
.header-img__star-4 {
  position: absolute;
  top: 568px;
  right: 344px;
}
.header-img__star-5 {
  position: absolute;
  top: 538px;
  right: 455px;
}

.button {
  width: 247px;
  height: 66px;
  border-radius: 60px;
  border-width: 1px;
  border-color: rgb(32, 32, 39);
  background-color: rgb(32, 32, 39);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 142%;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(32, 32, 39);
  font-family: sans-serif;
}

.animation {
  width: 100%;
  position: relative;
  background-color: #BCEC30;
  padding-top: 20px;
  padding-bottom: 20px;
}
.animation__track {
  display: flex;
  align-items: center;
  white-space: nowrap;
  position: relative;
  gap: 51px;
  animation: scroll 20s linear infinite;
}
.animation__text {
  width: 100%;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.game-game {
  position: absolute;
}

.games {
  padding-top: 94px;
  padding-bottom: 50px;
}

.games-img__star-1 {
  position: absolute;
  top: 945px;
  right: 0px;
}
.games-img__star-11 {
  position: absolute;
  top: 1570px;
  left: 28px;
}
.games-img__star-12 {
  position: absolute;
  top: 1622px;
  left: 45px;
}

.games-list {
  position: relative;
  padding-top: 72px;
  display: flex;
  gap: 32px;
}

.game-bloc-1 {
  display: flex;
  gap: 32px;
  flex-direction: column;
}

.game-bloc-2 {
  display: flex;
  gap: 32px;
  flex-direction: column;
}

.game-bloc-3 {
  display: flex;
  gap: 32px;
  flex-direction: column;
}

.games-intro {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.games-intro__title {
  font-weight: 700;
  font-size: 64px;
  color: rgb(255, 255, 255);
}
.games-intro__description {
  width: 788px;
  height: 96px;
  font-weight: 400;
  font-size: 24px;
  color: rgb(255, 255, 255);
}

.game-card {
  width: 378px;
  height: 551px;
  border-radius: 30px;
  background-color: white;
  transition: transform 0.3s ease;
  box-sizing: border-box;
}
.game-card__link {
  text-decoration: none;
}
.game-card__image {
  width: 100%;
  height: auto;
  display: block;
}
.game-card:hover {
  transform: scale(1.05);
}

.game-card-big {
  height: 512px;
}

.game-card-small {
  height: 473px;
}

.game-card-text {
  display: flex;
  flex-direction: column-reverse;
  gap: 16px;
  padding: 32px;
}
.game-card-text__title {
  font-weight: 700;
  font-size: 32px;
  color: rgb(32, 32, 39);
}
.game-card-text__number {
  font-weight: 500;
  font-size: 16px;
  color: rgb(32, 32, 39);
  box-sizing: border-box;
  width: -moz-fit-content;
  width: fit-content;
  height: 36px;
  border-radius: 52.58px;
  padding: 8px 16px;
  background: #F7F7F7;
}

.mini-games {
  padding-top: 46px;
}
.mini-games__title {
  font-weight: 700;
  font-size: 64px;
  color: rgb(255, 255, 255);
}
.mini-games__list {
  padding-top: 72px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mini-game {
  width: 1200px;
  height: 500px;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
  display: flex;
  flex-direction: row-reverse;
}
.mini-game__content-game {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding-top: 48px;
  padding-left: 48px;
  padding-right: 48px;
}
.mini-game__content {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.mini-game__image {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
  width: 600px;
  height: 500px;
}
.mini-game__title {
  font-weight: 700;
  font-size: 48px;
  color: rgb(32, 32, 39);
}
.mini-game__description {
  height: 64px;
  font-weight: 400px;
  font-size: 24px;
  line-height: 32px;
}
.mini-game__button {
  font-family: sans-serif;
  width: 247px;
  height: 66px;
}

.mini-game-even {
  display: flex;
  flex-direction: row;
}

.mini-games-img__star-6 {
  position: absolute;
  top: 2396px;
  right: 95px;
}
.mini-games-img__star-7 {
  position: absolute;
  top: 2363px;
  right: 123px;
}
.mini-games-img__star-8 {
  position: absolute;
  top: 5636px;
  right: 65px;
}
.mini-games-img__star-10 {
  position: absolute;
  top: 5684px;
  right: 150px;
}

.footer {
  background-color: rgb(189, 237, 53);
  margin-top: 144px;
}

.footer-game {
  display: flex;
  justify-content: center;
  padding-top: 61px;
  padding-bottom: 60px;
}
.footer-game__text {
  font-weight: 600;
  font-size: 24px;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header-img__pattern-1 {
    display: none;
  }
  .header-img__pattern-2 {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
  .header-img__star-2 {
    width: 35px;
    height: 35px;
    top: 97px;
    left: 38px;
  }
  .header-img__star-3 {
    width: 21px;
    height: 21px;
    top: 64px;
    left: 92px;
  }
  .header-img__star-4 {
    width: 39px;
    height: 41px;
    top: 580px;
    left: 304px;
  }
  .header-img__star-5 {
    width: 18px;
    height: 18px;
    top: 557px;
    left: 273px;
  }
  .header {
    height: 700px;
  }
  .header__content {
    gap: 36px;
    align-items: center;
  }
  .header__text-container {
    padding-top: 147px;
    align-items: center;
  }
  .header__title {
    width: 262px;
    height: 196px;
    font-size: 40px;
    text-align: center;
  }
  .header__subtitle {
    width: 296px;
    height: 60px;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
  }
  .header__button {
    font-size: 16px;
    width: 285px;
    height: 55px;
  }
  .games {
    display: none;
  }
  .mini-games {
    padding-top: 48px;
  }
  .mini-games__title {
    font-size: 40px;
  }
  .mini-games__list {
    padding-top: 48px;
  }
  .mini-games-img {
    display: none;
  }
  .mini-game {
    width: 343px;
    height: 100%;
    border-radius: 30px;
    display: block;
    box-sizing: content-box;
    padding-bottom: 32px;
  }
  .mini-game__content-game {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 29px;
    padding-left: 29px;
    padding-right: 29px;
  }
  .mini-game__image {
    width: 343px;
    height: 284px;
    border-radius: 30px;
  }
  .mini-game__title {
    font-size: 32px;
  }
  .mini-game__description {
    font-size: 16px;
    width: 275px;
    height: 40px;
    line-height: 100%;
  }
  .mini-game__content {
    display: flex;
    gap: 16px;
  }
  .mini-game__button {
    width: 285px;
    height: 55px;
    border-radius: 60px;
    font-size: 16px;
    padding-bottom: 32px;
  }
  .footer {
    margin-top: 9px;
  }
  .footer-game__text {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */